.navbar-static-top {
    margin-bottom: 19px;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
}

body {
  background-image: url('../img/background2.jpg');
  background-size: cover;  
}